body{
    margin: 0;
}
.main{
    display: flex;
    justify-content: space-around;
}
p{
    font-size: 48px;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.size1{
    background: #2467b5;
    height: 500px;
}
.size2{
    background: #184577;
    height: 500px;
    width: 33%;
}
.size3{
    background: #2467b5;
    height: 1000px;
}
.all{
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
