body{
    margin: 0;
    background: silver;
}
.gor_pad{
    display: flex;
    justify-content: space-around;
}

.box{
    box-sizing: border-box;
    background: #ffd300;
    width: 300px;
    height: 300px;
    margin: 50px;
    font-size: 50px;
    text-align: center;
    padding-top: 125px;

}
.box1{
    box-shadow: #2c2c2c 20px 20px 1px 1px;
}
.box2{
    box-shadow: #2c2c2c 20px 20px 10px 5px;
}
.box3{
    box-shadow: #2c2c2c 25px 25px 10px 5px;
}
.box4{
    box-shadow: #5b5a5a 25px 25px 5px 1px;
}
.box5{
    box-shadow: #2c2c2c 20px 20px 3px 1px;
    border-radius: 10px;
}
.box6{
    box-shadow: #5b5a5a 20px 20px 5px 1px;
    border-radius: 10px;
    border: #262626 solid 1px;
}