body{
    margin: 0;
}
p{
    font-size: 16px;
}
.main_div{
    box-sizing: border-box;
    margin: 0 20%;
}
.box1{
    background: #54cde3;
    height: 80px;
}
.box2{
    background: #cec2dc;
    height: 250px;
}
.box3{
    background: #9abb61;
    height: 350px;
}
.box4{
    background: #edbf33;
    height: 450px;
}
.box5{
    background: #858585;
    height: 150px;
}
.box6{
    background: #2cb071;
    height: 150px;
    width: 75%;
}
.box7{
    background: #eac5d6;
    height: 150px;
    width: 25%;
}
.box8{
    background: #f5a009;
    height: 80px;
}
.all{
    box-sizing: border-box;
    color: #fff6e8;
    text-align: center;
    font-size: 40px;
    margin: 10px;
    padding: 20px 10px;
}