h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
h2{
    color: #b3632d;
    font-size: 30px;
}
p{
    font-size: 20px;
}
.row{
    display: flex;
}
.boxes{
    box-sizing: border-box;
    background: #f5f5f5;
    width: 25%;
    height: 500px;
    color: slategray;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 0 5px silver;
}

.boxes > i {
    font-size: 60px;
    margin: 35px;
}
.button{
    margin: 20%;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    height: 50px;
    width: 200px;
    background: #54bbb0;
    color: #ececec;
}