.box1 {
    background: silver;
    height: 200px;
    margin: 10px;
}

.flex {
    display: flex;
}
.column{
    flex-direction: column;
}
.center_v_g{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.br10{
    border-radius: 10px;
}
.box2 {
    background: silver;
    height: 500px;
    width: 75%;
    margin: 10px;
}

.box3 {
    background: silver;
    height: 500px;
    width: 25%;
    margin: 10px;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .box1{
        height: 100px;
        margin: 20px 20px 0 20px;
    }
    .flex {
        flex-direction: column;
        padding: 20px;
        row-gap: 20px;
    }

    .box2 {
        height: 400px;
        width: 100%;
        margin: 0;
    }

    .box3 {
        height: 100px;
        width: 100%;
        margin: 0;
    }
}