body {
    margin: 0;
    background: #c5cfd9;
}

.bg-silver {
    background: #c5cfd9;
}

.bg-blue {
    background: #122c3d;
}

.bord {
    border: 4px solid #98b9c6;
}

.frame {
    height: 350px;
    width: 80%;
    border-radius: 50px;
    margin: 10px 10% 30px;

}

.box-blue {
    box-sizing: border-box;
    padding: 30px;
    height: 390px;
    width: 99.5%;
    margin-bottom: 40px;
}

.content-ev {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center-w {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h70 {
    height: 70px;
}

.h20 {
    height: 20px;
}

.h210 {
    height: 210px;
}

.h350 {
    height: 330px;
}

.w120 {
    width: 120px;
}

.w60 {
    width: 60px;
}

.w80 {
    width: 80px;
}

.w210 {
    width: 210px;
}

.w320 {
    width: 320px;
}

.m10 {
    margin: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.br10 {
    border-radius: 10px;
}

.br50dig {
    border-radius: 50%;
}

.bs {
    box-sizing: border-box;
}
